# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python 
2. JavaScript 
3. java 
4. R 
5. C/C++ 
6. SQL 
7. Matlab 
8. Scala
9. Julia 
10. SAS

Some of the commonly used libraries used by Data Scientists include:

1. Pandas 
2. SciPy 
3. NumPy 
4. Matplotlib 
5. scikit-learn 
6. Seaborn 
7. Scrapy

# Data Science Tools

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
"This a simple arithmetic expression to mutiply then add integers" 
(3*4)+5

17

In [4]:
"This will convert 200 minutes to hours by diving by 60"
(200/60)

3.3333333333333335

**Objectives:**

1. *pandas*
2. *C/C++*
3. *SciPy*
4. *Python*
5. *JavaScript*

## Author
Henish Patel